{{define "title"}}Home{{end}} {{define "main"}}
<h2>Home Page</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <input type="file" , name="avatar" accept="image/png, image/jpeg" required />
  <button type="submit">Upload</button>
</form>
<p>Wow this is the home page.</p>
<p>I have no clue what to add in the home page.</p>
<p>Mabe make like a feed thing twitter ?? instagaram ???</p>
<p>Leaving the css for this page to a later date.</p>
<p>Tailwind ?</p>

<p>this will become the todo page for the app.</p>

<h2>TODOS:</h2>
<ul>
  <li>Navigation bar</li>
  <li>Abot Page</li>
  <li>Account page</li>
  <li></li>
  <li></li>
  <li></li>
</ul>
{{end}}
