{{define "title"}}Chat{{end}}
{{define "main"}}
<div id="root">
	<div id="message-log">
		{{range .Messages}}
		<p> {{.Body}}</p>
		{{end}}
	</div>
	<div id="publish-form-container">
		<form id="publish-form">
			<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
			<input name="message" id="message-input" type="text" />
			<input value="Submit" type="submit" />
		</form>
	</div>
</div>
<script>
	let userID = "{{.UserID}}"
</script>
<script type="text/javascript" src="/static/js/message.js"></script>
{{end}}
