{{define "title"}}Sign Up{{end}} {{define "main"}}
<form
  method="POST"
  class="mx-auto w-1/3"
  action="/user/signup"
  novalidate
  enctype="multipart/form-data"
>
  <h1 class="mt-5 mb-14 text-center">Register nyow</h1>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <div>
    {{with .Form.FieldErrors.name}}
    <label class="error">{{.}}</label>
    {{end}}
    <input
      type="text"
      class="form-field"
      name="name"
      value="{{.Form.Name}}"
      placeholder="Name"
    />
  </div>
  <div>
    {{with .Form.FieldErrors.email}}
    <label class="error">{{.}}</label>
    {{end}}
    <input
      type="email"
      name="email"
      value="{{.Form.Email}}"
      class="form-field"
      placeholder="Email"
    />
  </div>
  <div>
    {{with .Form.FieldErrors.password}}
    <label class="error">{{.}}</label>
    {{end}}
    <input
      class="form-field"
      type="password"
      name="password"
      placeholder="Password"
    />
  </div>
  <input type="file" , name="avatar" accept="image/png, image/jpeg" required />
  <div>
    <input type="submit" class="form-field bg-foam" value="Sign Up" />
  </div>
</form>
{{end}}
